  <div id="nav-header-section">
  <nav class="nav-extended">
    <div class="nav-background">
      <div class="tint active" style="background-image: url('assets/images/code_101.jpg')">
      </div>
    </div>
    <div class="nav-wrapper container">
      <a href="#!" class="brand-logo">
        <i class="material-icons">dashboard</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a>A link</a></li>
        <li><a>A second link</a></li>
        <li><a>A third link</a></li>
      </ul>
    </div>
    <div class="nav-header center">
      <h1>Design and Build</h1>
      <div class="header-tag-line">Me and my self</div>
    </div>
  </nav>
</div>