<div class="skill-section">
  <div class="container">
    <div class="row">
      <div class="skill-icon col s12 m4 center">
        <div class="icon-skill hide-on-small-only">
          <i class="circle large material-icons">timeline</i>
        </div>
        <div class="skill-content">
          <div class="show-on-small left">
            <i class="circle medium material-icons">timeline</i>
          </div>
          <div class="content">
          <span class="flow-text">WEB DESIGN</span>
          <div class="service-devider hide-on-small-only"></div>
          <p class="light">
            Each of my designs begins with a blank canvas which allows your content to guide the layout.
          </p>
          </div>
        </div>
      </div>

      <div class="skill-icon col s12 m4 center">
        <div class="icon-skill hide-on-small-only">
          <i class="circle large material-icons">code</i>
        </div>
        <div class="skill-content">
          <div class="show-on-small left">
            <i class="circle medium material-icons">code</i>
          </div>
          <div class="content">
            <span class="flow-text">DEVELOPMENT</span>
            <div class="service-devider hide-on-small-only"></div>
            <p class="light">
              Responsive development will help make your website easily accessible across all devices.
            </p>
          </div>
        </div>
      </div>

      <div class="skill-icon col s12 m4 center">
        <div class="icon-skill hide-on-small-only">
          <i class="circle large material-icons">share</i>
        </div>
        <div class="skill-content">
          <div class="show-on-small left">
            <i class="circle medium material-icons">share</i>
          </div>
          <div class="content">
            <span class="flow-text">MEDIA</span>
            <div class="service-devider hide-on-small-only"></div>
            <p class="light">
              It's important to keep your brand consistent and recognizable across all platforms.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>