<div class="section-wrapper">
  <div class="section-header">
    
  </div>

  <div class="section-pad grey lighten-4">
    <div class="container section-content">
    <div class="row">
      <div class="col s12 m6">
        <h1 class="h1-section">
          About Me.
        </h1>
        <p class="grey-text light">Ruby on Rails Front End Developer</p>
      </div>
    </div>
    <div class="row">
      <div class="col m6 s12 center">
        <blockquote>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget,
      </blockquote>
      </div>  
    </div>
    <div class="divider"></div>

    <h3 class="center light">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</h3>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row center icon-pad">
        <div class="col s12 m4">
          <i class="circle white large icon-game-controller"></i>
          <div class="header">
            <span class="div light">GAMES</span>
          </div>
          <div class="content">
              <p>
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.
              </p>
            </div>
        </div>
        <div class="col s12 m4">
          <i class="circle white large icon-energy"></i>
          <div class="header">
            <span class="div light">ACTIVITY</span>
          </div>
          <div class="content">
              <p>
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.
              </p>
            </div>
        </div>
        <div class="col s12 m4">
          <i class="circle white large icon-compass"></i>
          <div class="header">
            <span class="div light">HANGOUTS</span>
          </div>
          <div class="content">
              <p>
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.
              </p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
