<!-- <div class="side-nav fixed">
  <div class="nav-logo">
    <a href="" class="logo-link"><i class="small icon-ghost"></i></a>  
  </div>
  <ul class="nopad">
    <li><a routerLink="/home" [routerLinkActive]="['active']"> <i class="small icon-home"></i></a></li>
    <li><a routerLink="/about" [routerLinkActive]="['active']"> <i class="small icon-user"></i></a></li>
    <li><a routerLink="/skills" [routerLinkActive]="['active']"> 
      <i class="small icon-direction"></i>
    </a></li>
    <li><a routerLink="/projects" [routerLinkActive]="['active']"> <i class="small icon-wrench"></i></a></li>
  </ul>

  <ul class="social">
    <li><a href="#"> <i class="icon-social-facebook"></i></a></li>
    <li><a href="#"> <i class="icon-social-twitter"></i></a></li>
    <li><a href="#"> <i class="icon-social-github"></i></a></li>
  </ul>

</div>



<mz-sidenav
  [id]="'sidenav-demo'"
  [collapseButtonId]="'sidenav-show'">
  <mz-sidenav-link>
    <a href="#">First Link</a>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link [active]="true">
    <a href="#">Active Link</a>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link>
    <a href="#" class="waves-effect">Second Link With Waves</a>
  </mz-sidenav-link>

</mz-sidenav> -->

<div class="sibar-bar-nav">
  <a routerLink="/home" [routerLinkActive]="['active']"><i class="small icon-home"></i></a>
  <a routerLink="/about" [routerLinkActive]="['active']"><i class="small icon-user"></i></a>
  <a routerLink="/skills" [routerLinkActive]="['active']"><i class="small icon-direction"></i></a>
  <a routerLink="/projects" [routerLinkActive]="['active']"> <i class="small icon-wrench"></i></a>
</div>
  


