/* You can add global styles to this file, and also import other style files */
body {
  color: #373648;
  background-color: #EEEFE5;
}

a {
    color: #7db557;
}

nav i.material-icons {
  font-size: 40px !important;
}
