<div class="about-section white">
  <div class="row no-m-bot">
    <div class="no-pad col s12 m6">
      <img src="assets/images/dev.jpg" class="responsive-img">
    </div>
    <div class="no-pad col s12 m6">
      <div class="about-content center">
        <h4 class="">ABOUT ME</h4>
        <p class="light grey-text text-darken-2">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean velit enim, gravida eu fermentum in, malesuada et sapien. Quisque in risus ipsum. Sed et mollis ex. Maecenas non suscipit lectus. Nullam in egestas urna, posuere porttitor tellus. Quisque ultrices pretium magna, fringilla commodo magna ornare a. Nam sed tellus nec sem pulvinar semper tincidunt vel purus. Proin ultrices interdum posuere. In in nisi in ligula euismod semper. Aliquam aliquam, mauris vel commodo scelerisque, lacus tellus auctor risus, lobortis viverra dolor ligula ut dui. Sed ut ultrices libero. Curabitur ante lorem, pharetra id egestas non, ullamcorper nec leo. Nunc vulputate tincidunt pulvinar. Ut in mi nunc. Praesent hendrerit ante sed nunc aliquam, ut condimentum lacus elementum. Proin at pellentesque est.
        </p>
      </div>
    </div>
  </div>
</div>